 body{
            padding: 20px;
        }

        table{
            width: 60%;
            margin: 0 auto;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid black;
        }

        th {
            background-color: #8B0000;
            color: white;
        }
        
        
        tr{
            font-size: 1rem;
            font-weight: bold;
        }
        